<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./vendor/autoload.php" colors="true">
    <testsuites>

        <testsuite name="Source tests">
            <directory suffix="Test.php">./test/Source</directory>
        </testsuite>

        <testsuite name="Namer tests">
            <directory suffix="Test.php">./test/Namer</directory>
        </testsuite>

        <testsuite name="Processor tests">
            <directory suffix="Test.php">./test/Processor</directory>
        </testsuite>

        <testsuite name="Rotator tests">
            <directory suffix="Test.php">./test/Rotator</directory>
        </testsuite>

        <testsuite name="Destination tests">
            <directory suffix="Test.php">./test/Destination</directory>
        </testsuite>

        <testsuite name="Workflow tests">
            <directory suffix="Test.php">./test/Workflow</directory>
        </testsuite>

        <testsuite name="Utils tests">
            <directory suffix="Test.php">./test/Utils</directory>
        </testsuite>

        <testsuite name="Application test">
            <file>./test/ApplicationTest.php</file>
        </testsuite>

    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>
</phpunit>
