<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./vendor/autoload.php" colors="true">
    <testsuites>

        <testsuite name="Source tests">
            <directory suffix="Test.php">./test/Source</directory>
        </testsuite>

        <testsuite name="Namer tests">
            <directory suffix="Test.php">./test/Namer</directory>
        </testsuite>

        <testsuite name="Processor tests">
            <directory suffix="Test.php">./test/Processor</directory>
        </testsuite>


    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>
</phpunit>